header{
  margin: 20px;
display: flex;
justify-content: space-between;

}

 #TopTitleName{
 align-content: center;
   background-color: rgb(255, 255, 255);  
   margin-left: 10px;
   font-size: 7vh;
   font-weight:500;}

 #TopTitleDate{
  background-color: rgb(1, 1, 36);  
  color: rgb(255, 255, 255);
  font-size: xx-large;
  padding: 20px;
}